In [102]:
import pandas as pd

In [103]:
data = pd.read_csv("D:\spam classifier\spam_classifier.csv", encoding = "latin-1")

In [104]:
#Getting information about our dataset like total number of rows,total number of columns,datatypes of each column and memory requirement
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  5572 non-null   object
 1   Message   5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [105]:
data.head(15)

   Category                                            Message
0       ham  Go until jurong point, crazy.. Available only ...
1       ham                      Ok lar... Joking wif u oni...
2      spam  Free entry in 2 a wkly comp to win FA Cup fina...
3       ham  U dun say so early hor... U c already then say...
4       ham  Nah I don't think he goes to usf, he lives aro...
5      spam  FreeMsg Hey there darling it's been 3 week's n...
6       ham  Even my brother is not like to speak with me. ...
7       ham  As per your request 'Melle Melle (Oru Minnamin...
8      spam  WINNER!! As a valued network customer you have...
9      spam  Had your mobile 11 months or more? U R entitle...
10      ham  I'm gonna be home soon and i don't want to tal...
11     spam  SIX chances to win CASH! From 100 to 20,000 po...
12     spam  URGENT! You have won a 1 week FREE membership ...
13      ham  I've been searching for the right words to tha...
14      ham                I HAVE A DATE ON SUNDAY WITH WILL!!

In [106]:
data.columns

Index(['Category', 'Message'], dtype='object')

In [107]:
data['Category']=data['Category'].map({'ham':0, 'spam':1})

In [108]:
data.head()

   Category                                            Message
0         0  Go until jurong point, crazy.. Available only ...
1         0                      Ok lar... Joking wif u oni...
2         1  Free entry in 2 a wkly comp to win FA Cup fina...
3         0  U dun say so early hor... U c already then say...
4         0  Nah I don't think he goes to usf, he lives aro...

In [109]:
#HANDLING MISSING DATA
print("Any missing value?",data.isnull().values.any())

Any missing value? False

In [110]:
data.isnull().sum()

Category    0
Message     0
dtype: int64

In [111]:
data.isnull().sum().sort_values(ascending=False)

Category    0
Message     0
dtype: int64

In [112]:
#for row null percentage
data.isnull().sum(axis=1).sort_values(ascending=False)/len(data)*100

0       0.0
3712    0.0
3720    0.0
3719    0.0
3718    0.0
       ...
1855    0.0
1854    0.0
1853    0.0
1852    0.0
5571    0.0
Length: 5572, dtype: float64

In [113]:
#count the number of rows having more than 5 values missing
data.isnull().sum(axis=1).sort_values(ascending=False) >5

0       False
3712    False
3720    False
3719    False
3718    False
        ...
1855    False
1854    False
1853    False
1852    False
5571    False
Length: 5572, dtype: bool

In [114]:
#Drop all the missing values
data.dropna(axis=1)

      Category                                            Message
0            0  Go until jurong point, crazy.. Available only ...
1            0                      Ok lar... Joking wif u oni...
2            1  Free entry in 2 a wkly comp to win FA Cup fina...
3            0  U dun say so early hor... U c already then say...
4            0  Nah I don't think he goes to usf, he lives aro...
...        ...                                                ...
5567         1  This is the 2nd time we have tried 2 contact u...
5568         0              Will Ã¼ b going to esplanade fr home?
5569         0  Pity, * was in mood for that. So...any other s...
5570         0  The guy did some bitching but I acted like i'd...
5571         0                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [115]:
#check for duplicate value
dup_data = data.duplicated().any()
print("Are there any duplicated values?",dup_data)

Are there any duplicated values? True

In [116]:
data = data.drop_duplicates()
data

      Category                                            Message
0            0  Go until jurong point, crazy.. Available only ...
1            0                      Ok lar... Joking wif u oni...
2            1  Free entry in 2 a wkly comp to win FA Cup fina...
3            0  U dun say so early hor... U c already then say...
4            0  Nah I don't think he goes to usf, he lives aro...
...        ...                                                ...
5567         1  This is the 2nd time we have tried 2 contact u...
5568         0              Will Ã¼ b going to esplanade fr home?
5569         0  Pity, * was in mood for that. So...any other s...
5570         0  The guy did some bitching but I acted like i'd...
5571         0                         Rofl. Its true to its name

[5157 rows x 2 columns]

In [117]:
new_data = data.interpolate()
new_data

      Category                                            Message
0            0  Go until jurong point, crazy.. Available only ...
1            0                      Ok lar... Joking wif u oni...
2            1  Free entry in 2 a wkly comp to win FA Cup fina...
3            0  U dun say so early hor... U c already then say...
4            0  Nah I don't think he goes to usf, he lives aro...
...        ...                                                ...
5567         1  This is the 2nd time we have tried 2 contact u...
5568         0              Will Ã¼ b going to esplanade fr home?
5569         0  Pity, * was in mood for that. So...any other s...
5570         0  The guy did some bitching but I acted like i'd...
5571         0                         Rofl. Its true to its name

[5157 rows x 2 columns]

In [118]:
new_data = data.fillna(0)
new_data

      Category                                            Message
0            0  Go until jurong point, crazy.. Available only ...
1            0                      Ok lar... Joking wif u oni...
2            1  Free entry in 2 a wkly comp to win FA Cup fina...
3            0  U dun say so early hor... U c already then say...
4            0  Nah I don't think he goes to usf, he lives aro...
...        ...                                                ...
5567         1  This is the 2nd time we have tried 2 contact u...
5568         0              Will Ã¼ b going to esplanade fr home?
5569         0  Pity, * was in mood for that. So...any other s...
5570         0  The guy did some bitching but I acted like i'd...
5571         0                         Rofl. Its true to its name

[5157 rows x 2 columns]

In [119]:
data

      Category                                            Message
0            0  Go until jurong point, crazy.. Available only ...
1            0                      Ok lar... Joking wif u oni...
2            1  Free entry in 2 a wkly comp to win FA Cup fina...
3            0  U dun say so early hor... U c already then say...
4            0  Nah I don't think he goes to usf, he lives aro...
...        ...                                                ...
5567         1  This is the 2nd time we have tried 2 contact u...
5568         0              Will Ã¼ b going to esplanade fr home?
5569         0  Pity, * was in mood for that. So...any other s...
5570         0  The guy did some bitching but I acted like i'd...
5571         0                         Rofl. Its true to its name

[5157 rows x 2 columns]

In [120]:
from sklearn.feature_extraction.text import CountVectorizer

In [121]:
cv=CountVectorizer()

In [122]:
x = data['Message']
y = data['Category']

In [123]:
x.shape , y.shape

((5157,), (5157,))

In [124]:
x=cv.fit_transform(x)

In [125]:
x

<5157x8745 sparse matrix of type '<class 'numpy.int64'>'
	with 68060 stored elements in Compressed Sparse Row format>

1. The Cat
2. The Dog
3. The Bird

       The Cat Dog Bird
1.      1   1   0    0
2.      1   0   1    0
3.      1   0   0    1

In [126]:
from sklearn.model_selection import train_test_split

In [127]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3,random_state=42)

In [128]:
x_train.shape

(3609, 8745)

In [129]:
from sklearn.naive_bayes import MultinomialNB

In [130]:
model = MultinomialNB()

In [131]:
model.fit(x_train, y_train)

MultinomialNB()

In [132]:
result = model.score(x_test, y_test)

In [133]:
result = result*100

In [134]:
result

97.5452196382429

In [135]:
import pickle

In [136]:
pickle.dump(model, open("spam.pkl","wb"))

In [137]:
pickle.dump(cv, open("vectorizer.pkl","wb"))

In [138]:
clf = pickle.load(open("spam.pkl","rb"))

In [139]:
clf

MultinomialNB()

In [140]:
msg = "you win 10 dollars"
data = [msg]
vect = cv.transform(data).toarray()
result = model.predict(vect)
print(result)

[1]

In [141]:
from win32com.client import Dispatch